body {
  background-color: #f6f6f6;
  margin-top: 50px;
}

.program {
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
  padding: 1px;
  background-color: #e1e1e1;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
}

.to-do {
  text-align: center;
  color: green;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 1px;
  background-color: #cacaca;
}

li {
  background-color: #f0f0f0;
  margin-left: -40px;
  border-bottom: 1px solid #cacaca;
}

.text-1 {
  text-align: center;
}
.text-2 {
  text-align: center;
}
.text-3 {
  text-align: center;
}
.text-4 {
  text-align: center;
}
.text-5 {
  text-align: center;
}
.ordered {
  margin: 20px;
  text-align: center;
}

.ordered {
  text-align: center;
  list-style-position: inside;
}

#list-1:hover {
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}
#list-2:hover {
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}
#list-3:hover {
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}
#list-4:hover {
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}
#list-5:hover {
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}
